@using LIMS.Models
@model LabSampleStatus?

@switch (Model)
{
    case LabSampleStatus.InProgress:
        <span class="badge badge-warning">In Progress</span>
        break;

    case LabSampleStatus.Approved:
        <span class="badge badge-success">Approved</span>
        break;

    case LabSampleStatus.Rejected:
        <span class="badge badge-danger">Rejected</span>
        break;

    default:
        <span class="badge badge-secondary">Unknown</span>
        break;
}
